html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code-editor{
  position: relative;
}

.code-editor button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 1;
  min-width: auto;
}

.code-editor button:nth-child(2){
  right: 50px;
  /* left: 0; */
}

.code-editor.full-width {
  width: 100%;
}